    <div class="container-fluid">
        <div class="logo">
            <img src="/resources/static/dist/img/logo.png" alt="">
            <img src="/resources/static/dist/img/logo_w.png" alt="" class="logo_w">
        </div>
        <ul id="nav">
            <li class="active"><a href="/resources/static/html/member/ptn_mng_member_list.html">회원</a>
                <ul>
                    <li><a href="/resources/static/html/member/ptn_mng_member_list.html">고객사관리</a>
                        <ul>
                            <li><a href="/resources/static/html/member/ptn_mng_member_list.html">그룹사</a></li>
							<li><a href="/resources/static/html/member/ptn_mng_member_register.html">그룹사등록</a></li>
							<li><a href="/resources/static/html/member/ptn_member_list.html">고객사</a></li>
							<li><a href="/resources/static/html/member/ptn_member_register.html">고객사등록</a></li>
							<li><a href="/resources/static/html/member/sub_administrator.html">하위관리자</a></li>
							<li><a href="/resources/static/html/member/sub_administrator_register.html" class="active">하위관리자등록</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/member/nor_member_list.html">고객사회원관리</a>
                        <ul>
                            <li><a href="/resources/static/html/member/nor_member_list.html">고객사회원</a></li>
                            <li><a href="/resources/static/html/member/nor_member_register.html">고객사회원등록</a></li>
                            <li><a href="/resources/static/html/member/nor_member_large_list.html">대량회원등록</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">포인트관리</a>
                        <ul>
							<li><a href="/resources/static/html/member/point_status.html">포인트현황</a></li>
                            <li><a href="/resources/static/html/member/point_member_list.html">포인트관리</a></li>
							<li><a href="/resources/static/html/member/point_history_list.html">포인트이력관리</a></li>
							<li><a href="/resources/static/html/member/point_large_list.html">대량등록현황</a></li>
							<li><a href="/resources/static/html/member/point_approval_list.html">포인트승인</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">마일리지관리</a>
                        <ul>
							<li><a href="/resources/static/html/member/mileage_list.html">마일리지</a></li>
							<li><a href="/resources/static/html/member/mileage_status.html">마일리지현황</a></li>
							<li><a href="/resources/static/html/member/mileage_member_list.html">마일리지관리</a></li>
							<li><a href="/resources/static/html/member/mileage_history_list.html">마일리지이력관리</a></li>
							<li><a href="/resources/static/html/member/mileage_large_list.html">대량등록현황</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="top"><a href="/resources/static/html/goods/goods_list.html">상품</a>
                <ul>
                    <li><a href="/resources/static/html/goods/goods_list.html">상품목록</a>
                        <ul>
                            <li><a href="/resources/static/html/goods/goods_list.html">상품전체목록</a></li>
							<li><a href="/resources/static/html/goods/request_list.html">상품승인목록</a></li>
							<li><a href="#">상품반송목록</a></li>
							<li><a href="#">신규상품대기</a></li>
							<li><a href="#">수정상품대기</a></li>
							<li><a href="/resources/static/html/goods/remove_list.html">상품삭제목록</a></li>
							<li><a href="/resources/static/html/goods/inventory_list.html">상품재고목록</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/goods/goods_register.html">상품등록</a>
                        <ul>
							<li><a href="/resources/static/html/goods/goods_register.html">상품등록하기</a></li>
							<li><a href="/resources/static/html/goods/goods_large_list.html">상품대량등록</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="top"><a href="/resources/static/html/order/order_list_all.html">주문</a>
                <ul>
                    <li><a href="/resources/static/html/order/order_list_all.html">주문목록</a>
                        <ul>
                            <li><a href="/resources/static/html/order/order_list_all.html">전체주문조회</a></li>
							<li><a href="#">취소/반품/교환</a></li>
							<li><a href="#">베스트판매상품</a></li>
							<li><a href="/resources/static/html/order/order_statistics_list.html">고객사별주문통계</a></li>
							<li><a href="/resources/static/html/order/order_status_info.html">고객사별주문현황</a></li>
							<li><a href="#">주문대량등록</a></li>
							<li><a href="#">송장업로드</a></li>
                            <li><a href="/resources/static/html/order/accounts_receivable_list.html">미수금 내역</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">주문정산</a>
                        <ul>
                            <li><a href="#">주문정산</a></li>
                            <li><a href="#">회원주문정산</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">현금영수증</a>
                        <ul>
                            <li><a href="#">현금영수증신청내역</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="center"><a href="/resources/static/html/offline/offline_order_list_all.html">오프라인주문</a>
                <ul>
                    <li><a href="/resources/static/html/offline/offline_order_list_all.html">주문목록</a>
                        <ul>
                            <li><a href="/resources/static/html/offline/offline_order_list_all.html">오프라인주문조회</a></li>
                            <li><a href="/resources/static/html/offline/offline_statistics.html">고객사별주문통계</a></li>
                            <li><a href="/resources/static/html/offline/order_large_list.html">주문대량등록</a></li>
                            <li><a href="/resources/static/html/offline/tracknum_upload.html">송장업로드</a></li>
							<li><a href="#">주문정보삭제</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/offline/order_calculate.html">주문정산</a>
                        <ul>
                            <li><a href="/resources/static/html/offline/order_calculate.html">주문정산</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/offline/offline_inquiry.html">협력회사문의</a>
                        <ul>
                            <li><a href="/resources/static/html/offline/offline_inquiry.html">협력회사문의</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="center"><a href="/resources/static/html/shop/display_list.html">쇼핑몰</a>
                <ul>
                    <li><a href="/resources/static/html/shop/display_list.html">진열관리</a>
                        <ul>
                            <li><a href="/resources/static/html/shop/display_list.html">메인진열</a></li>
							<li><a href="/resources/static/html/shop/exhibitions_list.html">기획전</a></li>
							<li><a href="/resources/static/html/shop/brand_list.html">브랜드관</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/shop/banner_list.html">배너관리</a>
                        <ul>
                            <li><a href="/resources/static/html/shop/banner_list.html">배너목록</a></li>
							<li><a href="/resources/static/html/shop/quick_list.html">퀵메뉴</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/shop/popup_admin_list.html">팝업관리</a>
                        <ul>
                            <li><a href="/resources/static/html/shop/popup_admin_list.html">내부팝업</a></li>
							<li><a href="/resources/static/html/shop/popup_shop_list.html">쇼핑몰팝업</a></li>
							<li><a href="/resources/static/html/shop/popup_joint_list.html">협력회사팝업</a></li>
							<li><a href="/resources/static/html/shop/popup_client_list.html">고객사팝업</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="center"><a href="javascript:;">프로모션</a>
                <ul>
                    <li><a href="javascript:;">쿠폰관리</a>
                        <ul>
                            <li><a href="#">쿠폰목록</a></li>
							<li><a href="#">쿠폰현황</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">출석체크</a>
                        <ul>
                            <li><a href="#">출석체크목록</a></li>
							<li><a href="#">출석체크현황</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">룰렛</a>
                        <ul>
                            <li><a href="#">룰렛목록</a></li>
							<li><a href="#">룰렛현황</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="center"><a href="/resources/static/html/customer/notice_list.html">고객센터</a>
                <ul>
                    <li><a href="/resources/static/html/customer/notice_list.html">공지사항</a>
                        <ul>
                            <li><a href="/resources/static/html/customer/notice_list.html">내부공지사항</a></li>
							<li><a href="#">고객사회원공지사항</a></li>
                            <li><a href="/resources/static/html/customer/notice_joint_list.html">협력회사공지사항</a></li>
							<li><a href="/resources/static/html/customer/notice_client_list.html">고객사공지사항</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/customer/cb_list.html">게시판</a>
                        <ul>
                            <!-- <li><a href="/resources/static/html/customer/cb_list.html">내부게시판</a></li> -->
							<li><a href="/resources/static/html/customer/file_list.html">파일게시판</a></li>
							<li><a href="/resources/static/html/customer/request_list.html">작업요청게시판</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/customer/product_list.html">고객문의</a>
                        <ul>
                            <li><a href="/resources/static/html/customer/product_list.html">상품요청</a></li>
							<li><a href="/resources/static/html/customer/product_inquiry.html">상품문의</a></li>
							<li><a href="/resources/static/html/customer/delivery_inquiry.html">배송/주문 문의</a></li>
							<li><a href="/resources/static/html/customer/qna_list.html">1:1문의</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/customer/system_list.html">협력회사문의</a>
                        <ul>
                            <li><a href="/resources/static/html/customer/system_list.html">시스템문의</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/customer/faq_list.html">자주묻는질문</a>
                        <ul>
                            <li><a href="/resources/static/html/customer/faq_list.html">자주묻는질문</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="center"><a href="/resources/static/html/partner/partner_list.html">협력회사</a>
                <ul>
                    <li><a href="/resources/static/html/partner/partner_list.html">협력회사관리</a>
                        <ul>
                            <li><a href="/resources/static/html/partner/partner_list.html">협력회사</a></li>
							<li><a href="/resources/static/html/partner/partner_register.html">협력회사등록</a></li>
							<li><a href="/resources/static/html/partner/partner_contract.html">협력회사계약관리</a></li>
							<li><a href="/resources/static/html/partner/partner_sub_administrator.html">하위관리자</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/partner/security_file.html">보안관리</a>
                        <ul>
                            <li><a href="/resources/static/html/partner/security_file.html">보안서약서</a></li>
							<li><a href="/resources/static/html/partner/security_check.html">보안체크리스트</a></li>
							<li><a href="/resources/static/html/partner/destroy_check.html">파기확인서</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="center"><a href="/resources/static/html/customer/notice_list.html">오피스</a>
                <ul>
                    <li><a href="/resources/static/html/customer/notice_list.html">법인영업</a>
                        <ul>
                            <li><a href="/resources/static/html/customer/notice_list.html">공지사항</a></li>
							<li><a href="/resources/static/html/office/corporate_counseling_list.html">기업체구매상담</a></li>
							<li><a href="/resources/static/html/office/partner_counseling_list.html">협력회사상담</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="center"><a href="/resources/static/html/message/auto_list.html">메시지</a>
                <ul>
                    <li><a href="/resources/static/html/message/auto_list.html">발송내역</a>
                        <ul>
                            <li><a href="/resources/static/html/message/auto_list.html">메시지자동발송</a></li>
							<li><a href="/resources/static/html/message/manual_list.html">메시지수동발송</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/message/message_send.html">메시지발송</a>
                        <ul>
                            <li><a href="/resources/static/html/message/message_send.html">문자발송</a></li>
							<li><a href="/resources/static/html/message/alram_send.html">알림톡발송</a></li>
							<li><a href="/resources/static/html/message/talk_send.html">친구톡발송</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="center"><a href="/resources/static/html/deploy/deploy_list.html">배포</a>
                <ul>
                    <li><a href="/resources/static/html/deploy/deploy_list.html">개발/배포</a>
                        <ul>
                            <li><a href="/resources/static/html/deploy/deploy_list.html">개발/배포 목록</a></li>
                            <li><a href="/resources/static/html/deploy/deploy_register.html">개발/배포 등록</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="center"><a href="javascript:;">통계</a>
                <ul>
                    <li><a href="javascript:;">통계관리</a>
                        <ul>
                            <li><a href="#">통계현황</a></li>
							<li><a href="#">매출통계</a></li>
							<li><a href="#">결제수단별통계</a></li>
							<li><a href="#">포인트통계</a></li>
							<li><a href="#">마일리지통계</a></li>
							<li><a href="#">프로모션통계</a></li>
							<li><a href="#">판매상품통계</a></li>
							<li><a href="#">회원현황</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="right bottom"><a href="/resources/static/html/setting/admin_list.html">설정</a>
                <ul>
                    <li><a href="/resources/static/html/setting/admin_list.html">관리자관리</a>
                        <ul>
                            <li><a href="/resources/static/html/setting/admin_list.html">관리자목록</a></li>
							<li><a href="/resources/static/html/setting/login_list.html">관리자접속기록</a></li>
							<li><a href="/resources/static/html/setting/power_list.html">계정권한</a></li>
							<li><a href="/resources/static/html/setting/login_fail.html">부정로그인</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/setting/terms_list.html">이용약관</a>
                        <ul>
                            <li><a href="/resources/static/html/setting/terms_list.html">이용약관</a></li>
							<li><a href="/resources/static/html/setting/terms_list.html">개인정보처리방침</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/setting/goods_category.html">카테고리</a>
                        <ul>
                            <li><a href="/resources/static/html/setting/goods_category.html">상품카테고리</a></li>
							<li><a href="/resources/static/html/setting/goods_gosi.html">상품정보고시</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/setting/code_common.html">코드관리</a>
                        <ul>
                            <li><a href="/resources/static/html/setting/code_common.html">공통코드</a></li>
							<li><a href="/resources/static/html/setting/code_menu.html">메뉴코드</a></li>
							<li><a href="/resources/static/html/setting/code_delivery.html">배송/택배사설정</a></li>
							<li><a href="/resources/static/html/setting/code_large.html">대량업로드코드</a></li>
							<li><a href="/resources/static/html/setting/code_large.html">주문다운로드코드</a></li>
							<li><a href="/resources/static/html/setting/code_large.html">정산다운로드코드</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="right bottom"><a href="javascript:;">연동</a>
                <ul>
                    <li><a href="javascript:;">삼성총괄</a>
                        <ul>
                            <li><a href="#">주문목록</a></li>
                            <li><a href="#">매출마감</a></li>
                            <li><a href="#">입금마감</a></li>
                            <li><a href="#">주문정산</a></li>
                            <li><a href="#">미입금조회</a></li>
                            <li><a href="#">연동내역</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">안심번호</a>
                        <ul>
                            <li><a href="#">안심번호 현황</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="right bottom"><a href="/resources/static/html/vdi/admin_list.html">VDI망</a>
                <ul>
                    <li><a href="/resources/static/html/vdi/admin_list.html;">관리자관리</a>
                        <ul>
                            <li><a href="/resources/static/html/vdi/admin_register.html">관리자등록</a></li>
                            <li><a href="/resources/static/html/vdi/admin_power.html">관리자별접근권한</a></li>
                            <li><a href="/resources/static/html/vdi/level_power.html">등급별접근권한</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/static/html/vdi/remove_order.html">초기화</a>
                        <ul>
                            <li><a href="/resources/static/html/vdi/remove_client.html">고객사삭제</a></li>
                            <li><a href="/resources/static/html/vdi/remove_order.html">주문초기화</a></li>
                            <li><a href="/resources/static/html/vdi/remove_offiline.html">오프라인주문초기화</a></li>
                            <li><a href="/resources/static/html/vdi/remove_member.html">회원초기화</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">다운로드</a>
                        <ul>
                            <li><a href="#">고객사회원</a></li>
                            <li><a href="#">포인트현황</a></li>
                            <li><a href="#">마일리지현황</a></li>
                            <li><a href="#">쿠폰현황</a></li>
                            <li><a href="#">출석체크현황</a></li>
                            <li><a href="#">룰렛현황</a></li>
                            <li><a href="#">주문</a></li>
                            <li><a href="#">오프라인주문</a></li>
                            <li><a href="#">삼성총괄주문</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="display_type">
            <button type="button" class="left active" title="헤더 좌측배치">헤더 좌측배치</button>
            <button type="button" class="top " title="헤더 상단배치">헤더 상단배치</button>
        </div>
    </div>

    <!-- 좌측 하부 nav -->
    <div class="aside_local_nav">
        <div class="title">회원</div>
        <ul>
            <li><a href="#">고객사관리</a>
                <ul>
                    <li><a href="#" class="active">그룹사</a></li>
                    <li><a href="#">그룹사등록</a></li>
                    <li><a href="#">고객사</a></li>
                    <li><a href="#">고객사등록</a></li>
                    <li><a href="#">하위관리자</a></li>
                </ul>
            </li>
            <li><a href="javascript:;">고객사회원관리</a>
                <ul>
                    <li><a href="#">고객사회원</a></li>
                    <li><a href="#">고객사회원등록</a></li>
                    <li><a href="#">고객사회원대량등록</a></li>
                </ul>
            </li>
            <li><a href="javascript:;">포인트관리</a>
                <ul>
                    <li><a href="#">포인트설정</a></li>
                    <li><a href="#">포인트현황</a></li>
                    <li><a href="#">포인트대량등록</a></li>
                </ul>
            </li>
            <li><a href="javascript:;">마일리지관리</a>
                <ul>
                    <li><a href="#">마일리지목록</a></li>
                    <li><a href="#">마일리지설정</a></li>
                    <li><a href="#">마일리지현황</a></li>
                    <li><a href="#">마일리지대량등록</a></li>
                </ul>
            </li>
        </ul>
    </div>

